extends layout

block content
  div(class='container')
    div(class='row', style='padding-top:5%;')
      h1= 'Server Side Cookies'
    div(class='row')
      p= 'This page sets following cookies to your browser. These cookies are issued on our web server.'
    div(class='row')
      table(class='u-full-width')
        thead
          tr
            th='Name'
            th='HTTP ONLY'
            th='Secure'
            th='SameSite'
        tbody
          tr
            td='_a'
            td='-'
            td='-'
            td='-'
          tr
            td='_b'
            td='true'
            td='-'
            td='-'
          tr
            td='_c'
            td='-'
            td='true'
            td='-'
          tr
            td='_d'
            td='true'
            td='true'
            td='-'
          tr
            td='_e'
            td='-'
            td='-'
            td='Lax'
          tr
            td='_f'
            td='true'
            td='-'
            td='Lax'
          tr
            td='_g'
            td='-'
            td='-'
            td='Lax'
          tr
            td='_h'
            td='true'
            td='true'
            td='Lax'
          tr
            td='_i'
            td='-'
            td='-'
            td='Strict'
          tr
            td='_j'
            td='true'
            td='-'
            td='Strict'
          tr
            td='_k'
            td='-'
            td='-'
            td='Strict'
          tr
            td='_l'
            td='true'
            td='true'
            td='Strict'
